@font-face {
	font-family: 'inconsolata';
	font-display: block;
	font-weight: 300;
	font-stretch: normal;
	font-style: light;
	src: url('ttf/Inconsolata-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'inconsolata';
	font-display: block;
	font-weight: 700;
	font-stretch: normal;
	font-style: bold;
	src: url('ttf/Inconsolata-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'inconsolata';
    font-display: block;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('ttf/Inconsolata-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'inconsolata';
    font-display: block;
    font-weight: 500;
    font-stretch: normal;
    font-style: semi-bold;
    src: url('ttf/Inconsolata-SemiBold.ttf') format('truetype')
}